// /* ================================
//         Gallery css
// ================================ */

#gallery{
  margin: 50px 10px;
  width: 100%
}

#gallery-top{
  display: grid;
  grid-template-columns: auto 10px auto;
  grid-template-areas: "img-1 . img-3" "img-1 . img-4";

  #img-1{
    grid-area: img-1;
  }

  #img-3{
    grid-area: img-3;
  }

  #img-4{
    grid-area: img-4;
  }
}

#gallery-middle{
  display: grid;
  grid-template-columns: auto;
  grid-template-areas: "img-5";
  margin: 10px 0;

  #img-5{
    grid-area: img-5;
  }
}

#gallery-bottom{
  display: grid;
  grid-template-columns: auto 10px auto;
  grid-template-areas: "img-2 . img-7" "img-6 . img-7";

  #img-2{
    grid-area: img-2;
  }

  #img-6{
    grid-area: img-6;
  }

  #img-7{
    grid-area: img-7;
  }
}
