/* ================================
        Heroes css
================================ */
#hero-1 {
  color: $white;
  text-align: center;
  background-image: url("../img/hero/hero-1.jpg");
  background-size: cover;
  background-position: center;
  padding: 288px 0 86px;

  h1 {
    font-size: rem-calc(43);
  }

  h2 {
    color: $lightblue;
    font-size: rem-calc(21);
  }
}

#hero-2 {
  color: $black;
  text-align: left;
  text-align: center;
  margin-top: 55px;
  margin-bottom: -5px;

  h2 {
    font-size: rem-calc(25);
    font-weight: 600;
  }

  h1 {
    color: $lightblue;
    padding-bottom: 50px;
    font-size: rem-calc(28);
  }

  ul {
    li {
      font-weight: 400;
      text-align: left;
      margin-bottom: 50px;

      h1 {
        padding-bottom: 0;
        font-size: 22px;
        font-weight: 400;
      }

      p {
        padding-top: 25px;
        line-height: 31px;
      }

      img {
        margin-right: 19px;
      }
    }
  }
}

#bold-hero {
  p {
    font-weight: 700;
    line-height: rem-calc(31);
  }
}

#hero-2-image {
  width: 100%;
  margin-bottom: -6px;
}
