/* ================================
        Header css
================================ */
header{
  background-color: $white;
  padding: 12px 0 21px;

  h1{
    font-size: rem-calc(32);
  }

  span{
    color: $lightblue;
  }

  i{
    margin-left: 170px;
    color: $lightblue;
    font-size: rem-calc(32);
  }
}

#flex-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
